body {
    font-family: "Frijole";
    font-weight: 400;
    }




/*---------------------------------NAVBAR-----------------------------------*/

#navbar {
    background-color: #3959BA !important;
    cursor: pointer;
    height: 90px;
}

.container-fluid {
    height: 90px;
}

#navHome {
    width: 2vh;

}

.img-fluid {
    width: 80px;
}

.content-container {
   /* background-color: #4b76f463; */
   background-image: url("../images/basketball-bg.jpg");
   background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-text {
    padding-top: 50px;
}

.home-img {
    padding-top: 15px;
}

.title {
    padding-top: 50px;
}

.stat-button {
    top: 50%;
    position: absolute;
    left: 50%;
    border-color: none;
    border-radius: 30%;
    background-color: #b5421369;

}

.loading-page-text {
    color: white;
}

.loading-page {
    position: fixed;

}

.loading-img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;

}

.MJ-quote {
    position: absolute;
    color: white;
    bottom: 600px;
    right: 16px;
    font-family: Great Vibes;
    font-size: 30px;
}

.MJ-signat {
    padding-left: 300px;
}

/*---------------------------------CHARTS-----------------------------------*/

.points-chart {
    padding-left: 0;
}

.salary-chart {
    padding-right: 0;
}

.total-points-piechart {
    top: 100px;
    right: 60px;
    background-color: #2b98ff7a;
}

.teams-played-stakedchart {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    background-color: #2b98ff7a;
}


#show_teams_played {

    padding-left: 120px
}

.card-body-highest-points {
    background-color: #2b98ff7a;
    top: 140px;
    right: 60px;
    padding-top: 0px;
    padding-right: 0px;
}

.card-body-salary {
    left: 60px;
    top: 140px;
    background-color: #2b98ff7a;

}


.card-header {
    background-color: #3959BA;
}

.card-body-MJ {
    background-color: #e22b22bf;
    right: 40px;
}

.card-body-KB {
    background-color: #ffe854b5;
}

.card-body-LJ {
    background-color: #13a3547d;
    left: 40px;
    right: 0;
}
.profile {
    min-height: 380px; 
}

.portfolio-header{
    color:white;
}

/*---------------------------------PLAYERS FACTS-----------------------------------*/

.MJ-facts {}

.players-row {
    margin-top: 30px;
}



/* -------------------------------------------------- FOOOTER ------------------------------------------------*/

.footer {
  height: auto;
  background-color: #1a1616;
  color: #7FB7BE;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.github-logo {
  color:  #7FB7BE;
  font-size: 2em;
  transition: all .2s ease-in-out
}

.github-logo:focus,
.github-logo:hover {
  color: #3959ba;
}

@media (min-width: 768px) {
  .github-logo {
      font-size: 2em;
  }
}
/*---------------------------------FOOTER-----------------------------------*/

/*.footer {*/
/*    position: absolute;*/
/*    bottom: 0px;*/
/*    top: 830px;*/
/*    padding-top: 50px;*/
/*     }*/
     
/*     .footer-container{*/
/*    margin-right: 0px;*/
/*    margin-left: 0;*/
/*     }*/

/*---------------------------------HORIZONTAL WRAPPER-----------------------------------*/

/* .horizontal-scroll-wrapper {
    width: 100px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.horizontal-scroll-wrapper>div {
    width: 100px;
    height: 100px;
}*/
div.horizontal-scroll-wrapper {
  overflow: auto;
  white-space: nowrap;
}

div.horizontal-scroll-wrapper .a {
  display: inline-block;
  width: 100%;
}
#more {display: none}
#more1{display: none}
#more2{display: none}

