body {
    font-family: "Frijole";
    font-weight: 400;
    }




/*---------------------------------NAVBAR-----------------------------------*/

#navbar {
    background-color: #164a7b !important;
    cursor: pointer;
    height: 90px;
}

.container-fluid {
    height: 90px;
}

#navHome {
    width: 2vh;

}

.img-fluid {
    width: 80px;
}

.content-container {
   /* background-color: #4b76f463; */
   background-image: url("../images/basketball-bg.jpg");
   background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-text {
    padding-top: 50px;
}

.home-img {
    padding-top: 15px;
}

.title {
    padding-top: 50px;
}

.stat-button {
    top: 50%;
    position: absolute;
    left: 50%;
    border-color: none;
    border-radius: 30%;
    background-color: #b5421369;

}

.loading-page-text {
    color: white;
}

.loading-page {
    position: fixed;

}

.loading-img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;

}

.MJ-quote {
    position: absolute;
    color: white;
    bottom: 600px;
    right: 16px;
    font-family: Great Vibes;
    font-size: 30px;
}

.MJ-signat {
    padding-left: 300px;
}

/*---------------------------------CHARTS-----------------------------------*/

.points-chart {
    padding-left: 0;
}

.salary-chart {
    padding-right: 0;
}

.total-points-piechart {
    top: 100px;
    right: 60px;
    width: 70%;
    background-color: #2b98ff7a;
    padding-left: 0; 
    padding-right: 0;
}

.teams-played-stakedchart {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    top: 100px;
    background-color: #2b98ff7a;
}


/*#show_teams_played {*/

/*    padding-left: 120px*/
/*}*/

.card-body-highest-points {
    background-color: #2b98ff7a;
    top: 140px;
    right: 60px;
    padding-top: 0px;
    padding-right: 0px;
}

.card-body-salary {
    left: 60px;
    top: 140px;
    background-color: #2b98ff7a;

}


.card-header {
    background-color: #3959BA;
}

.card-body-MJ {
    background-color: #e22b22bf;
    right: 40px;
}

.card-body-KB {
    background-color: #ffe854b5;
}

.card-body-LJ {
    background-color: #13a3547d;
    left: 40px;
    right: 0;
}
.profile {
    min-height: 380px; 
}

.portfolio-header{
    color:white;
}

/*---------------------------------PLAYERS FACTS-----------------------------------*/

.MJ-facts {}

.players-row {
    margin-top: 30px;
}



/* -------------------------------------------------- FOOOTER ------------------------------------------------*/

.footer {
  height: auto;
  background-color: #164a7b;
  color: #7FB7BE;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.github-logo {
  color:  #7FB7BE;
  font-size: 2em;
  transition: all .2s ease-in-out
}

.github-logo:focus,
.github-logo:hover {
  color: #3959ba;
}

@media (min-width: 768px) {
  .github-logo {
      font-size: 2em;
  }
}
/*---------------------------------FOOTER-----------------------------------*/
.footer-landing-page{
    /*top:800px*/
}
.footer {
    height: auto;
     }
     
container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*---------------------------------HORIZONTAL WRAPPER-----------------------------------*/

 .horizontal-scroll-wrapper {
     margin-top: 200px;
 }
  
     
 



div.horizontal-scroll-wrapper {
  overflow: auto;
  white-space: nowrap;
}

div.horizontal-scroll-wrapper .scroll-chart {
  display: inline-block;
  width: 70%;
  padding-bottom: 40px;
}



#more {display: none}
#more1{display: none}
#more2{display: none}

