* {
  box-sizing: border-box;
}


body {
  font-family: "Frijole";
  font-weight: 400;
  background-image: url("../images/basketball-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*overflow-x: hidden;*/
  background-size: cover;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
}

/*---------------------------------BUTTONS-----------------------------------*/

#button {
  display: inline-block;
  background-color: transparent;
  color: #3959BA;
  border: 2px solid #3959ba70;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 3px;
  position: fixed;
  transition: background-color .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 97;
  margin-left: 80%;
  margin-top: 30%;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
}

#button:active {
  color: #3959BA;
  background-color: #3959ba70;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

#button:hover {
  cursor: pointer;
  background-color: #3959ba70;
}



/*---------------------------------NAVBAR-----------------------------------*/

#navbar {
  background-color: #164a7b !important;
  cursor: pointer;
  height: 90px;
}


.img-fluid {
  width: 80px;
}


.nav-text {
  padding-top: 50px;
}

.home-img {
  padding-top: 15px;
}

.title {
  margin-top: 50px;
}

.stat-button {
  border-radius: 30%;
  background-color: #b5421369;
  width: 300px;
}

.loading-page-text {
  color: #FFFFFF;
}

.loading-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.loading-img {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

.mobile-img {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

.MJ-quote {
  position: fixed;
  color: #FFFFFF;
  font-family: Great Vibes;
  font-size: 30px;
  margin-left: 61%;
  margin-top: 14%;
}

.MJ-signat {
  padding-left: 300px;
}

.chart-comments {
  color: #FFFFFF;
  text-align: justify;
}

.comments {
  margin-bottom: 40px;
  margin-top: 20px;
}

.comments-txt {
  margin-bottom: 40px;
  margin-top: 20px;
}

.names {
  color: white;
  text-align: center;
}



/*---------------------------------CHARTS-----------------------------------*/

.points-chart {
  padding-left: 0;
  margin-top: 40px;

}

.salary-chart {
  padding-right: 0;
  background-color: #151307db;


}

.total-points-piechart {
  width: 1000px;
  background-color: #151307c2;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0px;

}

.teams-played-stakedchart {
  padding: 0px;
  background-color: #151307c2;
  padding-bottom: 80px;
}




.card-body-highest-points {
  background-color: #151307db;



}

.card-body-salary {
  background-color: #151307c2;
  border-color: azure;

}


.card-header {
  background-color: #3959BA;
  text-align: center;
  color: #FFFFFF;
}

.card-body-MJ {
  background-color: #151307db;
  margin-right: 60px;
}

.card-body-KB {
  background-color: #151307db;
  margin-right: 60px;
}

.card-body-LJ {
  background-color: #151307db;
  margin-right: 60px;
}

.profile {
  height: 515px;
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
}

.portfolio-header {
  color: #FFFFFF;
  text-align: center;
  margin-top: 40px;
  padding-top: 80px;
}

.comments-txt {
  color: #FFFFFF;
  background-color: #22150a;

}

/*---------------------------------PLAYERS FACTS-----------------------------------*/

.card-header-scroll-MJ {
  background-color: #e22b22bf;
}

.card-header-scroll-KB {
  background-color: #151307db;
}

.card-header-scroll-LJ {
  background-color: #151307db;
}


.players-row {
  margin-top: 30px;
}

.portfolio-MJ {
  background-color: #e22b22bf;
}

.portfolio-KB {
  background-color: #ffe854b5;
}

.portfolio-LJ {
  background-color: #13a3547d;
}

.portfolio-row {
  margin-top: 100px;
}

.portfolio-names {
  color: #FFFFFF;
  margin-bottom: 20px;
}





/* -------------------------------------------------- FOOOTER ------------------------------------------------*/

.footer-container {
  background-color: #164a7b;
  width: 100%;

}

.data-source-footer {
  padding-left: 0px;
  padding-right: 0px;
}

.footer-copyright {
  text-align: center;
  padding-top: 10px;
}


.github-logo {
  color: #7FB7BE;
  font-size: 2em;
  transition: all .2s ease-in-out;
  padding-top: 8px;
  padding-left: 60px;

}

.github-logo:focus,
.github-logo:hover {
  color: #3959ba;
}





/*---------------------------------HORIZONTAL WRAPPER FOR LAST THRE CHARTS-----------------------------------*/

.horizontal-scroll-wrapper {
  width: 3180px;
  display: flex;
  overflow-y: hidden;
  margin-bottom: 40px;
}



div.horizontal-scroll-wrapper .scroll-chart {
  width: 100%;
  padding-bottom: 40px;
}

/*---------------------------------READ MORE BUTTON-----------------------------------*/

.read-more-btn {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #164a7b;
  padding: 20px;
  width: 200px;
  height: 70px;
  border-radius: 0px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.read-more-btn:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  background-color: #2b98ff7a;
  letter-spacing: 3px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}




#more {
  display: none
}

#more1 {
  display: none
}

#more2 {
  display: none
}

#summary-comments {
  margin-bottom: 40px;
}

#show_teams_played {
  Height: 425px;
}

/*---------------------------------SEE COMMENTS BUTTON-----------------------------------*/

.see-comments-btn {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #164a7b;
  padding: 20px;
  width: 200px;
  height: 70px;
  border-radius: 0px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;

}

.see-comments-btn:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  background-color: #2b98ff7a;
  letter-spacing: 3px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

/*---------------------------------TYPEWRITER FOR MJ QUOTE ON LANDING PAGE-----------------------------------*/

.css-typing p {
  border-right: .15em solid orange;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
}

.css-typing p:nth-child(1) {
  width: 100%;
  -webkit-animation: type 3s steps(40, end);
  animation: type 3s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 100%;
  opacity: 0;
  -webkit-animation: type2 3s steps(40, end);
  animation: type2 3s steps(40, end);
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 100%;
  opacity: 0;
  -webkit-animation: type3 3s steps(40, end);
  animation: type3 3s steps(40, end);
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(4) {
  width: 100%;
  opacity: 0;
  -webkit-animation: type3 3s steps(40, end);
  animation: type3 3s steps(40, end);
  -webkit-animation-delay: 10.5s;
  animation-delay: 10.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(5) {
  width: 100%;
  opacity: 0;
  -webkit-animation: type3 3s steps(40, end);
  animation: type3 3s steps(40, end);
  -webkit-animation-delay: 13s;
  animation-delay: 13s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(6) {
  width: 100%;
  opacity: 0;
  -webkit-animation: type6 4s steps(40, end);
  animation: type6 4s steps(40, end);
  -webkit-animation-delay: 15.5s;
  animation-delay: 15.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  0% {
    border-right: none;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  0% {
    border-right: none;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  0% {
    border-right: none;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  0% {
    border-right: none;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  0% {
    border-right: none;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type4 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  0% {
    border-right: none;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type4 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  0% {
    border-right: none;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type5 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  0% {
    border-right: none;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type5 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  0% {
    border-right: none;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type6 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  0% {
    border-right: none;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type6 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  0% {
    border-right: none;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

/*----------------- MEDIA QUERIES -----------------*/

/* ------------ SMALL DEVICES ----------*/

@media screen and (min-width: 320px) and (max-width: 480px) {


  .title {
    text-align: center;
    margin-left: 40px;
    padding-bottom: 40px;
    color: #FFFFFF;
    font-size: 22px;
  }

  body {
    background: url('../images/mobile-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    background-position-y: 86px;

  }

  .profile {
    max-width: 100%;
    min-width: 100%;
  }

  .stat-button {
    width: 250px;
  }

  .footer-copyright {
    text-align: center;
    padding-top: 15px;
  }
  .github-logo {
    margin-left: 30%;

  }
  .data-source-footer {
    text-align: center;
  }
  .mobile-bg {
    background-size: cover;
  }

  .total-points-piechart {
    width: 1000px;

  }
  .salary-chart {
    overflow-x: scroll;
  }
  .points-chart {
    overflow-x: scroll;
  }

  .card-body-highest-points {
    overflow-x: scroll;
  }
  .home-img {
    padding-top: 23px;
  }

  .row {
    overflow-x: scroll;
  }
  .stacked-chart {
    overflow-x: scroll;
    margin-top: 40px;
  }

}

/* ------------ MEDIUM DEVICES ----------*/

@media screen and (min-width:481px) and (max-width:900px) {

  body {
    background: url('../images/basketball-bg.jpg');
    background-size: cover;
    height: 100%;
    background-attachment: fixed;

  }

  .title {
    text-align: center;
    font-size: 24px;
    padding-left: 80px;
  }


  .card-body-highest-points {
    overflow-x: scroll;

  }
  
  .portfolio-header {
    padding-top: 100px;
  }
  .salary-chart {
    overflow-x: scroll;
  }
  .points-chart {
    overflow-x: scroll;
    padding-left: 20px;
  }

  .players-row {
    padding-left: 175px;
  }
  .profile {
    width: 450px;
  }
  #points-season-playoffs {
    padding-left: 170px;
  }
  .row {
    overflow-x: scroll;
  }

  .stat-button {
    width: 300px;
  }

  .staked-chart {
    margin-top: 40px;
  }
  .footer-copyright {
    margin-top: 20px;
  }
  .github-logo {
    margin-left: 60px;
    margin-top: 27px;
  }


}

.row {
  margin: 0;
}
